# Base URLs
FRONTEND_URL=
BACKEND_URL=
ALLOWED_ORIGINS=

# OAuth GitHub Credentials
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=

# OAuth Google Credentials
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Email & Resend Service
RESEND_API_KEY=
EMAIL_FROM=

# Database & Security
DATABASE_URL=
JWT_SECRET=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
EMAIL_VERIFY_EXPIRE_HOURS=24
PASSWORD_RESET_EXPIRE_HOURS=1
